* {
  /*border: 1px solid green;*/
}

body {
  text-align: center;
  font-family: verdana, sans-serif;
  line-height: 1.7em;
  margin: 0px;
}

.wrapper {
  width: 960px;
  margin: 0px auto;
}

header {
  overflow: auto;
  width: 100%;
  clear: both;
}

.logo {
  float: left;
}

#slogan {
  background-image: url("../img/slogan_tapbots.gif");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  float: left;
  text-indent: -9000px;
  margin: 20px 0px 0px 10px;
  padding: 20px 20px 10px 20px;
  width: 220px;
}

nav {
  float: right;
  margin: 22px 0px;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  margin: 10px 5px;
}

section {
  clear: both;
  margin: 10px auto;
  width: 100%;
  overflow: auto;
}

#feature {
  clear: both;
  background-image: url("../img/hero_tweetbot_mac.jpg");
  background-repeat: no-repeat;
  width: 940px;
  height: 380px;
}

.product {
  float: left;
  width: 300px;
  height: 180px;
  margin: 10px;
  background-image: url("../img/product_promo_bg.jpg");
  background-repeat: no-repeat;
  line-height: 1.5em;
  font-size: 75%;
  text-decoration: none;
  color: #767676;
  text-shadow: #fff 0 1px 0;
}

.product p {
  margin-top: 0px;
  font-weight: 500;
}


.product:hover {
  background-position: 0px -180px;
}

footer {
  clear: both;
  width: 100%;
  min-width: 960px;
  overflow: visible;
  background-color: #19191a;
  border-top: 5px solid #c0c0c8;
  color: #565656;
  margin-top: 100px;
}

section#contacts {
  margin-top: 40px;
  height: 190px;
  overflow: visible;
}

.contact {
  float: left;
  display: inline-block;
  background-image: url("../img/company_promo_bg.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  width: 220px;
  height: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact:hover {
  background-position: 0px -180px;
}

.contact_content {
  position: relative;
  top: -100px;
}

.contact_text {
  margin: 0px auto 0px auto;
  font-size: 70%;
  line-height: 1.5em;
  height: 70px;
  color: #777;
}

.contact_text p:first-child {
  font-size: 16px;
  line-height: 0em;
  color: #fff;
  letter-spacing: 0.07em;
  text-shadow: #222 0 -1px 0;
  text-transform: uppercase;  
}