* {
  /*border: 1px solid green;*/
}

body {
  width: 960px;
  text-align: center;
  font-family: verdana, sans-serif;
  margin: 0px auto;
  line-height: 1.4em;
}

header {
  overflow: auto;
  width: 100%;
}

.logo {
  float: left;
}

#slogan {
  background-image: url("../img/slogan_tapbots.gif");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  float: left;
  text-indent: -9000px;
  margin: 20px 0px 0px 10px;
  padding: 20px 20px 10px 20px;
  width: 220px;

}

nav {
  float: right;
  margin: 22px 0px;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  margin: 10px 5px;
}

#feature {
  clear: both;
}